.random-fact {
    color: rgb(104, 98, 98);
    line-height: 1.6;
    font-size: 17px;
}
@media all and (min-width: 700px){

    .random-fact {
        margin-left: 2em;
        margin-right: 2em;
    }
}